IMPORT

In [ ]:
import numpy as np
import pandas as pd
import featureExtraction

LOADING AND PREPROCESSING DATASET

In [ ]:
path = '/SQLI/Dataset/'
df = pd.read_csv(path + "sqli.csv", encoding='utf-16')
print("Data Shape:", df.shape)
df.head(10)

Data Shape: (4200, 2)

                    Sentence  Label
0                          a      1
1                        a'       1
2                      a' --      1
3            a' or 1 = 1; --      1
4                          @      1
5                          ?      1
6   ' and 1 = 0 )  union all      1
7              ? or 1 = 1 --      1
8  x' and userid is NULL; --      1
9   x' and email is NULL; --      1

In [ ]:
X = df['Sentence']
y = df['Label']
print(X.shape, y.shape)
print("Dataset Input:", "\n", X.head(5))
print("Dataset Label:", "\n", y.head(5))

(4200,) (4200,)
Dataset Input:
 0                  a
1                a'
2              a' --
3    a' or 1 = 1; --
4                  @
Name: Sentence, dtype: object
Dataset Label:
 0    1
1    1
2    1
3    1
4    1
Name: Label, dtype: int64

In [ ]:
X = df['Sentence']
y = df['Label']
print(X.shape, y.shape)
print("Dataset Input:", "\n", X.head(5))
print("Dataset Label:", "\n", y.head(5))

(4200,) (4200,)
Dataset Input:
 0                  a
1                a'
2              a' --
3    a' or 1 = 1; --
4                  @
Name: Sentence, dtype: object
Dataset Label:
 0    1
1    1
2    1
3    1
4    1
Name: Label, dtype: int64

EXTRACT

In [ ]:
features = []
for sentence_str in X:
    features.append(featureExtraction.featureExtr(sentence_str))

print(features[0:10])

TypeError: argument of type 'float' is not iterable

Extract to CSV

In [ ]:
feature_names = ['Length', 'Keywords', 'KeywordsFreq', 'InSpcChars', 'InComment', 'InWildcards', 'InEscape', 'SpcCharsFreq', 'unionStr', 'errorBaseStr', 'boolStr', 'timeBaseStr', 'InParam', 'InEncoding', 'errorMess', 'storedProc', 'unusualChars', 'hasSubquery', 'hasMulquery', 'conditionStm', 'hasUnusualContent', 'binaryDataFeature', 'dbSpecific', 'httpHeader', 'Cookies', 'httpRequest', 'webRelated']
featureExtract = pd.DataFrame(features, columns=feature_names)
print(featureExtract[0:2])
path = '/SQLI/Training/'
featureExtract.to_csv(path + 'trainVector.csv', index=False)

   Length  Keywords  KeywordsFreq  InSpcChars  InComment InWildcards  \
0    4200         0           0.0          12          0        None
1    4200         0           0.0          12          0        None
2    4200         0           0.0          12          0        None
3    4200         0           0.0          12          0        None
4    4200         0           0.0          12          0        None
5    4200         0           0.0          12          0        None
6    4200         0           0.0          12          0        None
7    4200         0           0.0          12          0        None
8    4200         0           0.0          12          0        None
9    4200         0           0.0          12          0        None

   InEscape  SpcCharsFreq  unionStr  errorBaseStr  ...  hasSubquery  \
0         2      0.285714         0             0  ...            0
1         2      0.285714         0             0  ...            0
2         2      0.285714         0             0  ...            0
3         2      0.285714         0             0  ...            0
4         2      0.285714         0             0  ...            0
5         2      0.285714         0             0  ...            0
6         2      0.285714         0             0  ...            0
7         2      0.285714         0             0  ...            0
8         2      0.285714         0             0  ...            0
9         2      0.285714         0             0  ...            0

   hasMulquery  conditionStm  hasUnusualContent  binaryDataFeature  \
0         None             0                  1               True
1         None             0                  1               True
2         None             0                  1               True
3         None             0                  1               True
4         None             0                  1               True
5         None             0                  1               True
6         None             0                  1               True
7         None             0                  1               True
8         None             0                  1               True
9         None             0                  1               True

   dbSpecific httpHeader  Cookies httpRequest  webRelated
0           0          0        0           0           0
1           0          0        0           0           0
2           0          0        0           0           0
3           0          0        0           0           0
4           0          0        0           0           0
5           0          0        0           0           0
6           0          0        0           0           0
7           0          0        0           0           0
8           0          0        0           0           0
9           0          0        0           0           0

[10 rows x 27 columns]